<nav class="sidebar" id="sidebar" {{ stimulus_controller('sidebar') }}>
	<div class="sidebar-header">
		{% include 'Frontend/Layout/_logo.html.twig' %}
		<button class="toggle-btn" id="toggle-btn">
			<i class="bi bi-list"></i>
		</button>
	</div>
	<ul class="sidebar-menu">
		<li class="menu-item">
			<a href="#dashboard">
				<i class="bi bi-house-gear-fill"></i>
				<span class="menu-item-text">Dashboard</span>
			</a>
		</li>
		<li class="menu-item">
			<a href="{{ path('admin.users.index') }}" class="{{ app.request.get('_route') == 'admin.users.index' ? 'active' }}">
				<i class="bi bi-people-fill"></i>
				<span class="menu-item-text">Users</span>
			</a>
		</li>
		<li class="menu-item">
			<a href="{{ path('admin.genders.index') }}" class="{{ app.request.get('_route') == 'admin.genders.index' ? 'active' }}">
				<i class="bi bi-gender-ambiguous"></i>
				<span class="menu-item-text">Genres</span>
			</a>
		</li>
		<li class="menu-item">
			<a href="{{ path('admin.marques.index') }}" class="{{ app.request.get('_route') == 'admin.marques.index' ? 'active' }}">
				<i class="bi bi-tags-fill"></i>
				<span class="menu-item-text">Marques</span>
			</a>
		</li>
	</ul>
</nav>
