<nav class="breadcrumb-checkout">
	<ul class="breadcrumb-checkout-list">
		<li class="breadcrumb-checkout-item {{ app.request.get('_route')=='app.cart.show' ? 'active' }}">
			<a href="{{ path('app.cart.show')}}">Panier</a>
		</li>
		<li class="breadcrumb-checkout-item {{ app.request.get('_route')=='app.checkout.address' ? 'active' }}">
			<a href="{{ path('app.checkout.address')}}">Informations</a>
		</li>
		<li class="breadcrumb-checkout-item {{ app.request.get('_route')=='app.checkout.shipping' ? 'active' }}">

			<a href="{{ path('app.checkout.shipping')}}">Livraison</a>
		</li>
		<li class="breadcrumb-checkout-item {{ app.request.get('_route')=='app.checkout.recap' ? 'active' }}">
			<a href="{{ path('app.checkout.recap')}}">Récapitulatif</a>
		</li>
	</ul>
</nav>
