<aside class="cart-total-container">
    <div class="cart-total">
        <div class="cart-total-line">
            <p class="cart-total-line-content">Total HT</p>
            <p class="cart-total-line-price">{{ cart.priceHT|format_currency('EUR') }}</p>
        </div>
        <div class="cart-total-line">
            <p class="cart-total-line-content">Total Taxes</p>
            <p class="cart-total-line-price">{{ (cart.priceTTC - cart.priceHT)|format_currency('EUR') }}</p>
        </div>
        {% if app.request.get('_route') == 'app.checkout.recap' %}
            <div class="cart-total-line">
                <p class="cart-total-line-content">Total livraison</p>
                <p class="cart-total-line-price">{{ (cart.shippings|last.delivery.price)|format_currency('EUR') }}</p>
            </div>
        {% endif %}
        <div class="cart-total-line">
            <p class="cart-total-line-content">Total TTC
                {% if app.request.get('_route') != 'app.checkout.recap' %}
                    <br>
                    <em class="text-muted">(Hors coût de livraison)</em>
                {% endif %}
            </p>
            <p class="cart-total-line-price">
                {% if app.request.get('_route') == 'app.checkout.recap' %}
                    {{ (cart.priceTTC + (cart.shippings|last.delivery.price))|format_currency('EUR') }}
                {% else %} 
                    {{ (cart.priceTTC)|format_currency('EUR') }}   
                {% endif %}
            </p>
        </div>
    </div>
    {% if app.request.get('_route') == 'app.cart.show' %}
        <a href="{{path('app.checkout.address')}}" class="btn btn-secondary mt-3 w-100" >Valider mon panier</a>
    {% endif %}
    

</aside>