{{ form_start(form, {attr: {class: 'card', 'data-controller': 'addCollection'}}) }}
{{ form_row(form.name) }}
{{ form_row(form.productAssociations) }}
{{ form_row(form.gender) }}
{{ form_row(form.model) }}
{{ form_row(form.description) }}
{{ form_row(form.authenticity) }}
{{ form_row(form.enable) }}

{{ form_widget(form._token) }}

<button type="submit" class="btn btn-primary">{{ buttonLabel|default('save') }}</button>
{{ form_end(form, {render_rest: false}) }}
