{{ form_start(form, {attr: {class: 'card', 'data-controller': 'addCollection'}}) }}
{{ form_row(form.name) }}
{{ form_row(form.productAssociations) }}
{{ form_row(form.gender) }}
{{ form_row(form.model) }}

<button type="button" class="add_item_link btn btn-primary mb-3" data-collection-holder-class="images">Ajouter une image</button>

<ul class="images row" data-index="{{ form.images|length > 0 ? form.images|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
	{% for image in form.images %}
		<li class="col-md-4">
			<button type="button" class="remove_item_link btn btn-danger">
				<i class="bi bi-x-square-fill"></i>
			</button>
			{{ form_widget(image) }}
		</li>
	{% endfor %}
</ul>

{{ form_row(form.description) }}
{{ form_row(form.authenticity) }}
{{ form_row(form.enable) }}

{{ form_widget(form._token) }}

<button type="submit" class="btn btn-primary">{{ buttonLabel|default('save') }}</button>
{{ form_end(form, {render_rest: false}) }}
