{% extends "base.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('account') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('account') }}
{% endblock %}

{% block body %}
	<section class="account container">
		<aside class="account-sidebar">
			<div class="account-sidebar-header">
				<svg width="57" height="55" viewbox="0 0 57 55" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M4.18855 0.0380859H52.3519C54.665 0.0380859 56.54 1.83095 56.54 4.04256V50.0941C56.54 52.3057 54.665 54.0986 52.3519 54.0986H4.18855C1.87551 54.0986 0.000427246 52.3057 0.000427246 50.0941V4.04256C0.000427246 1.83095 1.87551 0.0380859 4.18855 0.0380859Z" fill="#080808"/>
					<path d="M28.2707 14.303C26.5172 14.3006 24.7804 14.6295 23.1602 15.2708C21.54 15.9122 20.0683 16.8533 18.8297 18.0402C17.5884 19.2245 16.6041 20.6317 15.9334 22.1809C15.2626 23.73 14.9186 25.3906 14.9211 27.0673C14.9186 28.744 15.2625 30.4046 15.9333 31.9538C16.6041 33.5029 17.5884 34.9101 18.8297 36.0944C20.0683 37.2813 21.54 38.2224 23.1602 38.8638C24.7804 39.5051 26.5172 39.834 28.2707 39.8316C30.0243 39.834 31.7611 39.505 33.3813 38.8637C35.0015 38.2224 36.4732 37.2812 37.7118 36.0944C38.9531 34.9101 39.9374 33.5029 40.6082 31.9538C41.2789 30.4046 41.6229 28.744 41.6204 27.0673C41.6229 25.3906 41.2789 23.73 40.6082 22.1808C39.9374 20.6317 38.9531 19.2245 37.7118 18.0402C36.4732 16.8533 35.0015 15.9122 33.3813 15.2708C31.7611 14.6295 30.0243 14.3006 28.2707 14.303ZM28.2707 12.0515C36.9443 12.0515 43.9751 18.774 43.9751 27.0673C43.9751 35.3606 36.9443 42.0821 28.2707 42.0821C19.5971 42.0821 12.5674 35.3596 12.5674 27.0683C12.5674 18.774 19.5992 12.0515 28.2707 12.0515Z" fill="white"/>
					<path d="M32.4485 32.3172C32.726 32.3172 32.972 32.143 33.0589 31.8867L36.4963 21.7073H33.9343L31.6434 28.5149L29.4655 22.1358C29.4242 22.0121 29.343 21.904 29.2336 21.827C29.1241 21.75 28.992 21.7082 28.8562 21.7073H27.5788C27.3024 21.7073 27.0553 21.8795 26.9694 22.1358L24.801 28.517L22.4986 21.7073H19.9365L23.3739 31.8887C23.4148 32.0127 23.4959 32.1211 23.6054 32.1981C23.715 32.2751 23.8473 32.3168 23.9833 32.3172H25.1078C25.2413 32.317 25.3713 32.2768 25.4797 32.2023C25.5881 32.1278 25.6693 32.0227 25.7119 31.9017L28.2217 25.02L30.7209 31.9017C30.7641 32.0222 30.8453 32.1268 30.9533 32.2013C31.0613 32.2757 31.1909 32.3162 31.324 32.3172H32.4485Z" fill="white"/>
				</svg>
				<p>
					Welcome<br/>
					{{ user.firstName }}
				</p>
			</div>
			<ul class="account-sidebar-links">
				<li>
					<a class="account-sidebar-link" href="#">Mes commandes</a>
				</li>
				<li>
					<a class="account-sidebar-link" href="#">Mes informations</a>
				</li>
			</ul>
		</aside>
		<section class="account-main-content">
			{% block content %}{% endblock %}
		</section>
	</section>
{% endblock %}
